<div class="pv5 pv6-l ph3 bg-center cover" 
  style="background-image: url('{{ partial "imgCrop" (dict "imageUrl" .imageUrl  "args" "1800x1000") }}')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ with .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">{{.}}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
